############################################___WordPress
upstream nginx {
    server 62.84.118.229:80;
}

server {listen 80;
    server_name {{ domain_name }};
    return 301 https://{{ domain_name }}$request_uri;

}

server {
       listen       443 ssl;
       server_name  {{ domain_name }};
       ssl_certificate         /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
       ssl_certificate_key     /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;
       ssl_trusted_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;

#       ssl_certificate      /etc/letsencrypt/live/{{ domain_name }}/cert.pem;
#       ssl_certificate_key  /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;

       ssl_session_cache    shared:SSL:1m;
       ssl_session_timeout  5m;

       ssl_ciphers  HIGH:!aNULL:!MD5;
       ssl_prefer_server_ciphers  on;

 location / {
        proxy_pass http://nginx;
#        proxy_set_header Host $host;
#        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#        proxy_set_header X-Real-IP $remote_addr;
            }
        }




