################################___Grafana
upstream grafana {
    server 192.168.1.14:80;
}

server {listen 80;
    server_name {{ grafana }};
    return 301 https://{{ grafana }}$request_uri;
}

server {
       listen       443 ssl;
       server_name {{ grafana }};

       ssl_certificate         /etc/letsencrypt/live/{{ grafana }}/fullchain.pem;
       ssl_certificate_key     /etc/letsencrypt/live/{{ grafana }}/privkey.pem;
       ssl_trusted_certificate /etc/letsencrypt/live/{{ grafana }}/fullchain.pem;

#       ssl_certificate      /etc/letsencrypt/live/{{ grafana }}/cert.pem;
#       ssl_certificate_key  /etc/letsencrypt/live/{{ grafana }}/privkey.pem;

       ssl_session_cache    shared:SSL:1m;
       ssl_session_timeout  5m;

       ssl_ciphers  HIGH:!aNULL:!MD5;
       ssl_prefer_server_ciphers  on;

 location / {
        proxy_pass http://grafana;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
            }
        }